#ixdt1113
  %article
    %header
      %h2.ixdt-title
        IXDT

    %section.container
      .subtitle-paragraph
        %h3.subtitle
          HOW TO CRAFT A PERFECT <span class="color">USER EXPERIENCE</span> (EVEN WITH A ROUGH AND INCOMPLETE MVP)
        %p.powered
          powered by The Doers / event in English
      .paragraph
        %p.f-paragraph
          "It's not the product that should be insanely great, but the experience of being your user. The product is just one component of that. But you can and should give users an insanely great experience with an early, incomplete, buggy product, if you make up the difference with
          attentiveness"
        %p.s-paragraph
          <span class="name"><strong>Paul Graham</strong></span>
          <span class="phrase"><strong>"Do things that don't scale"</strong></span>
        %p.t-paragraph
          <span class="groundcolor">User Experience design </span> does make the difference between a successful product and a failure, also for
          huuuuuge companies that's why UX is a key competitive factors for
          Startups.
    %section.location
      %a.map{target: "_blank", href: 'https://maps.google.it/maps?q=google+maps+piazza+vittorio+13+torino&ie=UTF-8&ei=t5OTUraCEa2Q7Abk7ICoAQ&ved=0CAgQ_AUoAg'}
        .overlay
        %figure
          = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Piazza+Vittorio+13,Torino,To&zoom=16&size=600x300&maptype=roadmap&markers=icon:http://goo.gl/WfOzcT%7Clabel:S%7C45.0655,7.6955&sensor=false', id:'mappa_ixdt', alt:'IxdtLocation'
      %span.date
        26 NOV 2013
      %span.hour
        19,30 pm
      %span.place
        LAB - TORINO
      %span.address
        Piazza Vittorio 13



    %section.register
      %h3
        ARE YOU CURIOUS TO SEE HOW UX DESIGN COULD BOOST YOUR BUSINESS?
      - form_tag 'http://mailinglist.thedoersproject.com/subscribe', :id => "signup-form", :name => "signup-form", :"accept-charset" => "utf-8", :class => 'submit-form', :method => 'POST' do
        - field_set_tag do
          %p
            = text_field_tag :name, :name => "name", :id => 'name', :class=>"name", :placeholder=>"Leave your name and surname please", :type=>"text"
            = text_field_tag :email, :name => "email", :id => 'email', :class=>"email", :placeholder=>"Leave your email to join the event!", :type=>"text"
          = hidden_field_tag  :list, :value => "BIdg8zYVZmMImlmOFaDs0A", :name => "list", :id => 'submit_list'
          = hidden_field_tag  :listall, :value => "f4B1RXA44QJWHwOkMzitlA", :name => "list all", :id => 'submit_listall'
          = hidden_field_tag  :success, :value => "/events/2013/success_ixdt1113.html#ixdt1113_tk", :name => "success", :id => 'submit_success'
          = hidden_field_tag  :language, :value => "eng", :name => "language", :id => 'language'
          %p
            = submit_tag "Submit", :name => "submit", :id => 'submit-btn',:class=> "send", :value=>'GREAT, I\'M COMING!'
          %p#status
    %footer
      .text
        .paragraph-sponsor
          organized with
        .paragraph-share
          SHARE IT
      .icon
        %ul.left-sponsor
          %li.treatabit
            %a{href:'http://www.treatabit.com', target:'_blank'}
              Treatabit
        .share
          .addthis_toolbox
            .custom_images.green
              %a.addthis_button_facebook{style: "text-decoration:none; cursor: pointer; ", :"fb:like:href"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html",:"addthis:url"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html" }
                = image_tag "ixdt/ixdt_share-fb.png", border: "0", alt: "facebook share"
              %a.addthis_button_twitter{style: "text-decoration:none; cursor: pointer; " , :"tw:url"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html", :"addthis:title"=>"Come with me at next #ixdt! #ux #startups #event #torino", :"addthis:url"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html" }
                = image_tag "ixdt/ixdt_share-tw.png", border: "0", alt: "twitter share"
              %a.addthis_button_google_plusone_share{style: "text-decoration:none; cursor: pointer; " , :"addthis:url"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html" }
                = image_tag "ixdt/ixdt_share-gp.png", border: "0", alt: "google plus share"
              %a.addthis_button_linkedin{style: "text-decoration:none; cursor: pointer; " , :"addthis:url"=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html", :"addthis:title"=>"How to craft a perfect user Experience - even with a rough MVP" }
                = image_tag "ixdt/ixdt_share-li.png", border: "0", alt: "linkedin share"

