-# coding: utf-8
#header
  .front
    .padder
      .background
      .logo
        %a{href: 'http://www.thedoers.co/'}
          The Doers
      #mission
        %h1
          <span>U</span>SER  <span>E</span>XPERIENCE DESIGN<br />
          <span>P</span>RODUCT  <span>D</span>EVELOPMENT<br />
          <span>L</span>EAN APPROACH
      .share
        .addthis_toolbox
          .custom_images.white
            %a.addthis_button_facebook{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_fb.png", border: "0", alt: "facebook share"
            %a.addthis_button_twitter{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_tw.png", border: "0", alt: "twitter share"
            %a.addthis_button_google_plusone_share{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_gp.png", border: "0", alt: "google plus share"
            %a.addthis_button_linkedin{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_li.png", border: "0", alt: "linkedin share"
          %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0a3fcd63f94cae", type: "text/javascript"}
      %ul.menu-container
        %li.container-hover
          %a{href: 'http://blog.thedoers.co'}
            <span>b</span>log
        %li.container-hover
          %a{href: '/team.html'}
            <span>t</span>eam
      %p.scroll
        SCROLL TO EXPLORE
  .back
    .padder
      .background
      %a.logo{href: 'http://www.thedoers.co/'}
        The Doers
      #mission
        %h1
          <span>A</span>TTENTI  <span>V</span>E<br />
          <span>C</span>ASCA  <span>L</span>A<br />
          <span>M</span>ASCELLA
      .share
        .addthis_toolbox
          .custom_images.white
            %a.addthis_button_facebook{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_fb.png", border: "0", alt: "facebook share"
            %a.addthis_button_twitter{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_tw.png", border: "0", alt: "twitter share"
            %a.addthis_button_google_plusone_share{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_gp.png", border: "0", alt: "google plus share"
            %a.addthis_button_linkedin{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_li.png", border: "0", alt: "linkedin share"
          %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0a3fcd63f94cae", type: "text/javascript"}
      %ul.menu-container
        %li
          %a{href: 'http://blog.thedoers.co'}
            <span>b</span>log
        %li
          %a{href: '/team.html'}
            <span>t</span>eam
      %p.scroll SCROLL TO EXPLORE