!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

    %title flavialarocca september 2013 newsletter
    = stylesheet_link_tag 'mailing-list'
  %style
    h1, h2, h3, h4, h5, h6 {color: black !important;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #9E1E62 !important;
    }
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #D3D6DD !important;
    }
    table td{
    border-collapse: collapse;
    }
    a:link { color: #9E1E62; }
    a:visited { color: #D3D6DD; }
    a:hover { color: #9E1E62; }
  %body

    %table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0","width"=>"750"}
      %tr
        %td#externaltd
          %table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0", "width"=>"750"}
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %p.web
                  %a{:href=>"http://flavialarocca.com/newsletters/september2013.html?utm_source=newsletter0913&utm_medium=email&utm_campaign=newsletter0913"}
                    Can't read this email? Click here to view it online
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %h1.title
                  Newsletter
                %hr
                %p.subtitle
                  September 2013
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "logo.png" ,:class=>"logo"
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-01.png"
                %p.description
                  As one of the three winners of the contest ‘The Talents Night - Buy Talents in One Night’ powered by Visa and Vogue Italia, flavialarocca will have the opportunity to exhibit and sell the collection during the VFNO Milan in a temporary store, in Via della Spiga 17.
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-02.png"
                %p.description
                  The actress and super model, Milla Jovovich, patroness of ‘The Talents Store’ opening, wearing flavialarocca.<br />
                  She chose the sleveless dress/top with double elastic band at the bottom – one of the representative style of the brand – in cream cotton.
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-03.png"
                %p.description
                  Beppe Angiolini, President of the Chamber of Italian fashion buyers mentioned flavialarocca as one of the innovative designer discovered during ‘Room Service’ section (Alta Roma).<br />
                  “... as the modular and decomposable collection of Flavia La Rocca "
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-04.png"
                %p.description
                  ”The Stripes Collection”<br />
                  flavialarocca is one of the brand selected by Vogue Italia that took part at  'The Talent Store', the new store dedicated to the talents of the
                  celebrated "shopping village" by Value Retail, Fidenza Village.<br />
                  The initiative designed by Fidenza Village and Vogue Italia to foster
                  young talent.
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                %a.button{:href=>"http://flavialarocca.com?utm_source=newsletter0913&utm_medium=email&utm_campaign=newsletter0913"}
                  CHECK THE NEW WEBSITE
